*{
    box-sizing: border-box;
}
.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.sidenav-container{
    flex:1 1 100%;
    z-index:1;
}
mat-sidenav-content{
    padding: 2rem;
}
mat-toolbar{
    z-index:2;
}